.archive {
	.page__sidebar {
		margin-top: 3px;
		@media(min-width:992px){  
			margin-top: 50px;
		}
	}
	&__item {
		margin-bottom: 80px;
		color: #a6a4a4;
		@media(max-width: 767px){ 
			text-align: center;
		}
		h3 {
			font-size: 2em;
			font-weight: 500;
		}
		&__subtitle {
			font-size: 0.87em;
			@media(max-width: 767px){  
				display: inline-block;
				padding: 20px 0;
				font-size: 1.3em;
			}
		}
		&__image {
			float: left;
			padding: 7px 30px 14px 0;
			@media(max-width: 767px){
				float: none;
				text-align: center;
				width: 100%;
				padding: 7px 0px 14px 0;
				img {
					display: inline-block;
					width: 100%;
				}
			}
		}
		p {
			padding-top: 25px;
			text-align: justify;
		}
	}
}