// Core variables and mixins
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1310px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1310px
) !default;
$enable-flex:               true;

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
.container {
	@media(min-width: 992px) and (max-width: 1310px){
		width: 98%!important;
	}
}

// Reset and dependencies
// @import "../../node_modules/bootstrap/scss/normalize";
// @import "../../node_modules/bootstrap/scss/print";
// @import "../../node_modules/bootstrap/scss/glyphicons";

// Core CSS
// @import "../../node_modules/bootstrap/scss/scaffolding";
// @import "../../node_modules/bootstrap/scss/type";
// @import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
// @import "../../node_modules/bootstrap/scss/tables";
// @import "../../node_modules/bootstrap/scss/forms";
// @import "../../node_modules/bootstrap/scss/buttons";

// Components
// @import "../../node_modules/bootstrap/scss/component-animations";
// @import "../../node_modules/bootstrap/scss/dropdowns";
// @import "../../node_modules/bootstrap/scss/button-groups";
// @import "../../node_modules/bootstrap/scss/input-groups";
// @import "../../node_modules/bootstrap/scss/navs";
// @import "../../node_modules/bootstrap/scss/navbar";
// @import "../../node_modules/bootstrap/scss/breadcrumbs";
// @import "../../node_modules/bootstrap/scss/pagination";
// @import "../../node_modules/bootstrap/scss/pager";
// @import "../../node_modules/bootstrap/scss/labels";
// @import "../../node_modules/bootstrap/scss/badges";
// @import "../../node_modules/bootstrap/scss/jumbotron";
// @import "../../node_modules/bootstrap/scss/thumbnails";
// @import "../../node_modules/bootstrap/scss/alerts";
// @import "../../node_modules/bootstrap/scss/progress-bars";
// @import "../../node_modules/bootstrap/scss/media";
// @import "../../node_modules/bootstrap/scss/list-group";
// @import "../../node_modules/bootstrap/scss/panels";
// @import "../../node_modules/bootstrap/scss/responsive-embed";
// @import "../../node_modules/bootstrap/scss/wells";
// @import "../../node_modules/bootstrap/scss/close";

// Components w/ JavaScript
// @import "../../node_modules/bootstrap/scss/modals";
// @import "../../node_modules/bootstrap/scss/tooltip";
// @import "../../node_modules/bootstrap/scss/popovers";
// @import "../../node_modules/bootstrap/scss/carousel";

// Utility classes
// @import "../../node_modules/bootstrap/scss/utilities";
// @import "../../node_modules/bootstrap/scss/responsive-utilities";
@import "../../node_modules/bootstrap/scss/utilities/visibility";