.btn {
	border:none;
	outline: none;
	background: none;
}


.nav__toggle {
    width: 30px;
    height: 34px;
    appearance: none;
    border: none;
    cursor: pointer;
    background: none;
    padding: 0px;
    margin-left: 60px;
    vertical-align: middle;
	position: fixed;
	right:40px;
	top: $header-height/2 - 18;
	margin-top: 0px;

	transition: right .35s ease-in-out;
    &.menu {
	    @media (max-width: 1540px) { 
	  //   	position: relative;
	  //   	top: auto;
			// margin-top: -8px;
			// right:0px;
	    }
	    @media (max-width: 992px) { 
	    	top: 20px;
	    }
	    @media(max-width: 767px){ 
	    	
	    }
	    @media(max-width: 500px){ 
	    	right:20px;
	    }
	    @media(max-width: 320px){
	    	right:10px; 
	    } 
	}
    &:focus {
    	outline: none;
    }
    span{
    	display: block;
	    position: absolute;
	    
	    left: 0px;
	    right: 0px;
	    height: 4px;
	    background: #000;
	    border-radius: 10px;
	    &:before, &:after {
	    	position: absolute;
		    display: block;
		    left: 0;
		    width: 100%;
		    height: 4px;
		    border-radius: 10px;
		    background-color: #000;
		    content: "";
	    	transition-duration: .3s,.3s;
	    	transition-delay: .3s,0s;
	    }
	    &:before {
	    	transition-property: top,transform;
	    	top: -15px;
	    }
	    &:after {
	    	transition-property: bottom,transform;
			bottom: -15px;
	    }
	}
	&.active {
		span{
			background: 0 0!important;
			&:before, &:after { 
				transition-delay: 0s,.3s;
				background-color: #fff;
			}
			&:before {
				top: 0;
				transform: rotate(45deg);
			}
			&:after {
				bottom: 0;
				transform: rotate(-45deg);
			}
		}
	}
}
.home-wrapper.pull {
	.nav__toggle {
		right:65px;
	}
}