@font-face {
  font-family: 'FlickerDEMO';
  src: url('../fonts/FlickerDEMO.eot?#iefix') format('embedded-opentype'),  url('../fonts/FlickerDEMO.otf')  format('opentype'),
	     url('../fonts/FlickerDEMO.woff') format('woff'), url('../fonts/FlickerDEMO.ttf')  format('truetype'), url('../fonts/FlickerDEMO.svg#FlickerDEMO') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Haiku';
	src: url('../fonts/haiku.eot');
	src: local('☺'), url('../fonts/haiku.woff') format('woff'), url('../fonts/haiku.ttf') format('truetype'), url('../fonts/haiku.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),  url('../fonts/MuseoSansCyrl-100.otf')  format('opentype'),
	     url('../fonts/MuseoSansCyrl-100.woff') format('woff'), url('../fonts/MuseoSansCyrl-100.ttf')  format('truetype'), url('../fonts/MuseoSansCyrl-100.svg#MuseoSansCyrl-100') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),  url('../fonts/MuseoSansCyrl-300.otf')  format('opentype'),
	     url('../fonts/MuseoSansCyrl-300.woff') format('woff'), url('../fonts/MuseoSansCyrl-300.ttf')  format('truetype'), url('../fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),  url('../fonts/MuseoSansCyrl-500.otf')  format('opentype'),
	     url('../fonts/MuseoSansCyrl-500.woff') format('woff'), url('../fonts/MuseoSansCyrl-500.ttf')  format('truetype'), url('../fonts/MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),  url('../fonts/MuseoSansCyrl-700.otf')  format('opentype'),
	     url('../fonts/MuseoSansCyrl-700.woff') format('woff'), url('../fonts/MuseoSansCyrl-700.ttf')  format('truetype'), url('../fonts/MuseoSansCyrl-700.svg#MuseoSansCyrl-700') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),  url('../fonts/MuseoSansCyrl-900.otf')  format('opentype'),
	     url('../fonts/MuseoSansCyrl-900.woff') format('woff'), url('../fonts/MuseoSansCyrl-900.ttf')  format('truetype'), url('../fonts/MuseoSansCyrl-900.svg#MuseoSansCyrl-900') format('svg');
  font-weight: 900;
  font-style: normal;
}

