.main-footer {
	background: #4b2723;
	padding-top: 60px;
	color: #7b4742;
	&__top {
		padding-bottom: 50px;
	}
	&__bottom {
		padding: 20px 0;
		font-size: 0.73em;
		background: #442420;
	}
	&__col {
		position: relative;
		height: 100%;
		h4 {
			text-transform: uppercase;
			font-size: 1.33em;
			font-weight: 500;
			color: #7b4742;
		}
		img {
			max-width: 200px;
		}
		.copyright {
			position: absolute;
			display: block;
			bottom:0;
			left:0;
			font-size: 0.9em;
		}
		ul {
			li {
				padding-top: 20px;
				color: #7b4742;
				a {
					color: #7b4742;
				}
				i {
					padding-right: 15px;
					font-size: 1.5em;
					vertical-align: middle;
				}
			}
			&.footer-menu {
				li {
					padding-top: 40px;
				}
			} 
		}
		p {
			color: #7b4742;
			padding: 40px 0 20px;
		}
	}
}