.gallery {
	&__main {
		&__item{
			margin-bottom: 30px;
			img {
				width: 100%;
				padding-bottom: 10px;
			}
			p {
				color: #414141;
			}
		}
		&--single {
			.gallery__main__item {
				margin-bottom: 40px;
				a {
					color: #b97d78;
					line-height: 2;
					i{
						display: inline-block;
						font-size: 1.5em;
						padding-right: 10px;
						margin-top:-4px;
						vertical-align: middle;
					}
				}
			}
		}
	}
}