.main-header {
	position: fixed;
	height: $header_height;
	line-height: $header_height;
	width: 100%;
	top: 0;
	left: 0;
	background: #fff;
	box-shadow: 0 2px 10px rgba(0,0,0,.22);
	z-index: 100;
	transition: background .2s linear;
	@media(max-width: 992px){
		height: $header_height - 40;
		line-height: $header_height - 40;
	}
	&--home {
		box-shadow: none;
		background: none;
		.nav__toggle {
			span {
				background: #fff;
				&:before,&:after {
					background: #fff;
				}
			}
		}
		.main-header__lang {
			display: none;
		}
	}
	&__logo {
		max-width: 220px;
		img {
			vertical-align: middle;
			padding-left: 20px;
			@media(max-width: 500px){
				padding-left: 5px;
			}
		}
	}
	&__lang {
		display: inline-block;
		padding-right: 100px;
		@media(max-width: 500px){
			padding-right: 60px;
		}
		@media(max-width: 320px){
			padding-right: 40px;
		}
		li {
			display: inline-block;
			padding-left: 30px;
			@media(max-width: 767px){
				padding-left: 20px;
			}
			@media(max-width: 340px){
				padding-left: 15px;
			}
			a {
				font-size: 1.33em;
				transition: color .2s linear;
					&:hover {
						color: #f0cfcc;
					}
			}
		}
	}
}
.header-home {
	&__content {
		z-index: 1;
		position: absolute;
		
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		color: #fff;
		text-align: center;
		// padding-right: 400px;
		@media(max-width:1500px){
			font-size: 13px;
		}
		@media(max-width: 1300px){ 
			font-size: 11px;
		}
		@media(max-width: 991px){ 
			font-size: 8px;
		}
		h1 {
			text-transform: uppercase;
			font-family: 'FlickerDEMO';
			font-weight: 100;
			font-size: 4em;
			line-height: 1.5;
			// min-height: 200px;
		}
		h2 {
			color: #ffc6ad;
			background: rgba(146, 69, 55, 0.5);
			line-height: 1;
			padding: 25px 30px 30px;
			display: inline-block;
			font-size: 4em;
			margin-top: 20px;
		}
		h3 {
			font-family: 'FlickerDEMO';
			font-weight: 100;
			font-size: 2.2em;
			line-height: 2;
			display: block;
			margin-top: 20px;
			min-height: 66px;
			img {
				display: inline-block!important;
				vertical-align: middle;
				padding-right: 15px;
			}
		}
	}
}

.menu_open {
	.header-home {
		&__content {
			@media(max-width: 991px){  
				display: none;
			}
		}
	}
	.pull-programm {
		display: none;
	}
	.header-home__lang {
		display: none;
	}
}