.home {
	overflow: hidden;
	position: relative;
	.header-home{
		position: relative;
		height: 100vh;
		overflow: hidden;
		@media(max-width: 991px){  
			height: 90vh;
		}
		background-size: cover;
		background-position: 50% 50%;
		min-height: 550px;
		&__lang {
			position: absolute;
			bottom: 20px;
			right: 0px;
			width: 110px;
			text-align: center;
			z-index: 10;
			transition: right .35s ease-in-out;
			li{
				padding-bottom: 10px;
				a{
					color: #fff;
					font-size: 1.33em;
					transition: color .2s linear;
					&:hover {
						color: #f0cfcc;
					}
				}
			}
		}
		.scroll_down {
			position: absolute;
			bottom: 20px;
			color: #fff;
			font-size: 3.7em;
			left: 50%;
			margin-left:-15px;
			animation: bounce 5s 0s infinite;
			z-index:10;
		}
	}
	section {
		h2{
			font-size: 4em;
			color: #5a3024;
			text-align: center;
			line-height: 1.3;
			padding-bottom: 20px;
		}
	}
	&__top {
		padding: 55px 0;
		&__content {
			.scroll_content {
				@media(min-width: 767px){
					height: 390px;
				}
			}
			p {
				font-size:1.06em;
				line-height: 1.7;
				padding-bottom: 10px;
				text-align: justify;
				@media(max-width: 767px){
					text-align: center;
				}
				a{
					color: #b97d78;
				}
			}
		}
		&__image {
			text-align: center;
			@media(max-width: 767px){ 
				padding-bottom: 20px;
			}
			img {
				border-color: #000;
			}
			a{
				color: #b97d78;
				line-height:1.3;
				font-weight: 500;
				margin-top: -20px;
				display: block;
				z-index:10;
				position: relative;
				i {
					font-size: 1.4em;
					padding-right: 10px;
					vertical-align: bottom;
				}
			}
		}
	}
	&__programm {
		&__item {
			padding-top: 50px;
			margin-bottom: 60px;
			&__image {
				position: relative;
				@media(max-width: 575px){ 
					margin-bottom: 20px;
				}
				img {
					width: 100%;
				}
				>div {
					$size: 7.3em;
					position: absolute;
					width: $size;
					height: $size;
					top: -$size/2;
					color: #fff;
					text-align: center;
					left:50%;
					margin-left: -$size/2;
					line-height: $size;
					font-weight: 500;
				}
			}
			h4 {
				font-size: 1.2em;
				font-weight: 300;
				line-height: 1.5;
				@media(max-width: 1310px){
					font-size: 1.1em;
				}
				@media(max-width: 575px){
					font-size: 1.8em;	
				}

			}
			.location {
				position: relative;
				margin-top: 30px;
				@media(max-width:1310px){ 
					margin-top: 15px;
				}
				@media(max-width: 575px){ 
					font-size: 1.2em;
				}
				padding-left: 2em;
				font-size: 0.74em;
				font-weight: 300;
				color: #a6a4a4;
				&:before {
					content: "\f041";
					position: absolute;
					display: inline-block;
				    font: normal normal normal 14px/1 FontAwesome;
				    font-size: inherit;
				    text-rendering: auto;
				    -webkit-font-smoothing: antialiased;
				    left:0;
				    font-size: 2.5em;
				}
			}
		}
	}
	&__gallery {
		margin-top: 40px;
		margin-bottom: 90px;
		@media(max-width: 992px){
			width: 100%;
			padding: 0;
		}
		&__items {
			display: flex;
			flex-flow: row wrap;
		}
		&__item {
			position: relative;
		    flex-grow: 1;
		    width: 25%;
		    flex-basis: 25%;
		    @media(max-width: 767px){
		    	width: 50%;
		    	flex-basis: 50%;
		    }
			img {
				display: block;
			}
			&__text {
				position: absolute;
				text-align: center;
				width: 100%;
				top: 50%;
				transform: translateY(-80%);
				color: #fff;
				font-size: 1.2em;
				opacity: 0;
				transition: opacity 0.2s linear,transform 0.2s linear;
				i {
					font-size: 2.0em;
				}
				span {
					display: block;
					font-weight: 300;
				}
			}
			a {
				display: block;
				position: relative;
				width: 100%;
				height: 100%;
				&:before {
					content: "";
					display: block;
					position: absolute;
					top:0;
					left:0;
					width: 100%;
					height: 100%;
					background: #b85b49;
					opacity: 0.4;
					transition: opacity 0.2s linear;
				}
			}
			&:hover {
				.home__gallery__item__text {
					transform: translateY(-50%);
					opacity: 1;
				}
				a{
					&:before {
						opacity: 0;
					}
				}
			}
		}
	}
	&__news {
		background: #f0cfcc;
		padding: 70px 0 60px 0;
		text-align: center;
		h2 {
			color: #fff!important;
			line-height: 1.5;
			margin-bottom: 25px;
		}
		&__item {
			margin-bottom: 40px;
			text-align: left;
			&__date {
				$n_size: 8em;
				width: $n_size;
				height: $n_size;
				line-height: $n_size;
				text-align: center;
				float: left;
				background: #cd9e9a;
				color: #fff;
				margin-right: 30px;
			}
			h5 {
				font-size: 1.2em;
				font-weight: 300;
				padding-bottom: 15px;
				color: #202020;
			}
			p{
				font-size: 0.8em;
				color: #202020;
			}
			a {
				color: #cd9e9a;
			}
		}
	}
	&__sponsors {
		background: #eaeaea;
		padding: 70px 0 40px 0;
		text-align: center;
		h2 {
			line-height: 1.5;
			margin-bottom: 25px;
			color: #85888f!important;
		}
		ul {
			text-align: center;
			li{
				display:inline-block;
				padding:0 25px;
				margin-bottom: 20px;
			}
		}
	}
	&__map {
		height: 500px;
		width: 100%;
	}
}

.programm_page {
	position: absolute;
	min-height: 100vh;
	width: 100%;
	top:0;
	right:0;
	z-index: 9999;
	background: #fff;
	transform: translateX(100%);
	transition: transform .35s ease-in-out;
	&.active {
		// transition-delay: 2.15s;
		transform: translateX(0);
		// position: relative;
	}
	iframe {
		z-index: 9999;
		width: 100%;
		height:100vh;
	}
}

.pull-programm {
	position: absolute;
	right:0;
	top:0;
	z-index: 3;
	background: rgba(22,22,22,0.5);
	box-shadow: 0 0 20px rgba(0,0,0,.32);
	width:170px;
	height: 100%;
	cursor: pointer;
	transform: translateX(58px);
	transition: transform .35s ease-in-out;
	&.active {
		transform: translateX(-100vw)!important;
	}
	h3 {
	    display: block;
	    position: relative;
	    -ms-transform: rotate(90deg);
	    transform: rotate(90deg);
	    top: 50%;
	    width: 930px;
	    color: #fff;
	    margin-left: -358px;
	    text-align: center;
	    font-size: 3.3em;
	    transition: margin-left 0.35s ease-in-out;
	    font-weight: 300;
	    margin-top:-30px;
	    @media(max-height: 670px){
	    	font-size: 2.5em;
	    }
	}
	&:hover {
		transform: translateX(0);
		h3 {
			margin-left: -375px;
		}
	}
}

.home-wrapper.pull .header-home__lang{
	right: 25px;
}

@keyframes bounce {
 0%, 9%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 6% {transform: translateY(-30px);}
 12% {transform: translateY(-15px);}
}


