.inner {
	.page__sidebar {
		margin-top: 104px;
	}
	&__guests {
		margin-top: 60px;
		h2{
		    font-size: 3.5em;
		    color: #5a3024;
		    line-height: 1.3;
		    padding-bottom: 20px;
		}
		&__item {
			margin-bottom: 40px;
			img {
				margin-bottom: 20px;
			}
		}
	}
}

.schedule {
	ul {
		li {
			position: relative;
			display: block;
			margin-bottom: 50px;
			time {
				$t_size: 50px;
				display: block;
				float:left;
				margin-right: 20px;
				margin-bottom : 10px;
				background: #da5950;
				width: $t_size;
				height: $t_size;
				line-height: $t_size;
				text-align: center;
				color: #fff;
			}
			h3 {
				font-size: 1.1em;
				padding-bottom: 10px;
				color: #202020;
				padding-left: 70px;
				
			}
			.content {
				padding-left: 70px;
				@media(max-width: 767px){
					padding-left: 0px;
				}
			}
			p {
				color: #5a5a5a;
				margin:15px 0;
			}
			a{
				color: #b97d78
			}
		}
	}
}