.infowindow {
	float: left;
    width: 350px;
    img {
    	width: 140px;
    	float: left;
    	padding-right: 15px;
    }
    h6 {
    	font-size: 1.3em;
    	font-weight: 300;
    	padding-bottom: 10px;
    }
    p {
    	color: #a6a4a4;
    	font-weight: 300;
    	font-size: 1em;
    	padding-bottom: 10px;
    }
    a {
    	color: #863d38;
    	font-size: 1.1em;
    }
}