.modal {
	z-index: 501;
	display: none;
	position: fixed;
	width: 100%;
	top:0;
	left:0;
	height: 100%;
	overflow-x: hidden;
    overflow-y: auto;
	&__content {
		position: relative;
		margin-top: 10%;
		left:50%;
		transform: translateX(-50%);
		background: #fff;
		padding: 50px;
		@media(min-width: 992px){
			width: 70%;
		}
		@media(max-width: 992px){
			width: 90%
		}
		@media(max-width: 992px){
			padding: 15px;
		}
	}
	&--gallery {
		.modal__content {
			padding: 15px;
			padding-top: 60px;
			max-width: 750px;
			img {
				margin-bottom: 10px;
			}
			p {
				font-size: 1.1em;
				padding: 15px 0;
			}
		}
	}
	&__header {
		position: absolute;
		right: 20px;
		top:10px;
		font-size: 2em;
		a{
			color: #8c8c8c;
		}
	}
}
.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 500;
	background: rgba(0,0,0,.5);
}