.menu-container {
	position: fixed;
	top:0;
	left:0;
	height: 100%;
	min-height: 100vh;
	width: 100%;
	// background-color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	display: none;
	&.open {
		display: block;
	}
	.main-menu {
		// background-color: #de4a3e;
		// box-shadow: 0px 0px 20px rgba(0,0,0,.62);
		position: absolute;
		right: 0;
		max-width: 400px;
		width: 100%;
		height: 100%;
		color: #fff;
		padding: 120px 0;
		transition: all .15s cubic-bezier(.39,.575,.565,1);
		transition-delay: 0.15s;
		z-index: 100;
		@media(max-height: 630px){ 
			padding: 80px 0;
		}
		@media(max-height: 560px){ 
			padding: 50px 0;
			overflow: auto;
		}
		@media(max-width: 1500px){
		 max-width: 380px;
		}
		@media(max-width: 1300px){
			max-width: 300px;	
		}
		@media(max-width: 1000px){ 
			max-width: 270px;	
		}
		@media(max-width: 992px){ 
			max-width: 100%;
		}
		@media(max-width: 576px){ 
			max-width: 100%;	
			padding: 100px 0;
		}
		&.hover {
			// background-color: rgba(222, 74, 62, 0);
			// box-shadow: 0px 0px 20px rgba(0,0,0,0);
		}
		ul {
			li {
				line-height: 1;
				a{
					padding: 25px 0 25px 80px;
					color: #fff;
					font-size: 1.5em;
					display: inline-block;
					font-weight: 500;
					width: 100%;
					transition: all 0.15s linear;
					@media(max-height: 992px){
						padding: 20px 0 20px 0px;
						text-align: center;
					}
					@media(max-width: 576px){ 
						padding: 20px 0 20px 0px;
						text-align: center;
					}
				}
			}
		}
		.nav__toggle {
			z-index:100;
			@media(max-width: 576px){
				top: 18px;
    			right: 15px;
			}
		}
	}
	.menu-backgrounds-container {
		z-index:999;
		width: 100%;
	    height: 100%;
	    background-size: cover;
	    background-position: 50% 50%;
		.container{
			z-index:100;
		}
		.logo{
			max-width: 200px;
			margin-left: 20px;
			margin-top: 37px;
		}
		&__item {
			position: absolute;
			top: 0;
			left:0;
			width: 100%;
			height: 100%;
			background-size: cover;
		    background-repeat: no-repeat;
		    background-position: 50% 50%;
		    opacity: 0;
		    // visibility: hidden;
		    transition: opacity .15s cubic-bezier(.39,.575,.565,1);
		    
		    transition-delay: 0.15s;
		    &.active {
		    	// visibility: visible;
		    	opacity: 1;
		    	transition-delay: 0s;
		    	
		    	
		    }
		}
		.header-home__content {
			display:block!important;
			margin-top: 2px;
			@media(max-width:992px){
				opacity:0;
			}
		}
	}
}