.page {
	&__header {
		padding: 25px 0px 35px;
		@media(max-width: 767px){   
			text-align: center;
		}
	}
	&__main {

	}
	&__sidebar {
		@media(max-width: 767px){   
			margin-bottom: 60px;
			h4 {
				display: block;
				text-align: center;
			}
		}
		@media(min-width: 992px) {
			padding-left: 25px;
		}
		h4 {
			font-size: 3em;
		}
		& > div {
			padding: 25px;
		}
		span {
			display: inline-block;;
		}
		&__news {
			background: #f0cfcc;
			h4 { 
				color: #fff;
				line-height:1.0;
				padding-top: 20px;
			}
		}
		&__item{
			color: #202020;
			border-bottom: 1px solid #fff;
			padding: 35px 0;
			&:last-child {
				border-bottom: 0;
				padding: 35px 0 15px 0;
			}
			.date {
				background: #cd9e9a;
				padding: 16px 20px;
				color: #fff;
				font-size: 0.87em;
				font-weight: 600;
				margin-bottom: 20px;
			}
			.title {
				font-size: 1.3em;
				font-weight: 300;
				margin-bottom: 15px;
			}
			p {
				color: #202020;
				font-size: 0.87em;
				font-weight: 500;
				a{
					color: #b97d78;
				}
			}
			&--programm {
				margin-top: 32px;
				.item-image {
					position: relative;
					@media (min-width: 992px) {
						max-width: 40%;
						float: left;
						margin-right: 25px;
					}
					img {
						display: block;
						width: 100%;
						@media (max-width: 991px) {  
							padding-left: 30px;
							padding-bottom: 30px;
						}
					}
					.programm-date {
						position: absolute;
						top: 0px;
						font-size: 0.87em;
						color: #fff;
						background: #c6c5c5;
						width: 64px;
						height: 64px;
						display: flex;
					    flex-direction: column;
					    justify-content: center;
						text-align: center;
						@media (min-width: 992px) { 
							margin-top: -32px;
							left: 50%;
							transform: translateX(-50%);
						}
						@media (max-width: 991px) {  
							top: 50%;
							transform: translateY(-50%);
							left: 0px;
						}
						@media (max-width: 767px) {  
							width: 80px;
							height: 80px;
							font-size: 1.1em;
							margin-top: -15px;
						}

					}
				}
				@media(max-width: 767px){  
					.title{
						padding-left: 30px;
					}
				}
				span {
					display: inherit;
				}

			}
		}		
		&__programm {
			background: #f1efef;
			h4 { 
				color: #cd9e9a;
				line-height:1.0;
				padding-top: 20px;
			}
		}
		&__archive {
			background: #f0cfcc;
			h4 { 
				color: #cd9e9a;
				line-height:1.0;
				padding-top: 30px;
				padding-bottom: 30px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
  				align-items: stretch;
  				flex-direction: row;
  				margin: 0 -10px;
				li{
					margin: 10px;
					background: #cd9e9a;
					display: inline-block;
					height: 0;
					width: calc(33% - 20px);
  					padding-bottom: 27.3%;
  					@media(max-width: 992px){ 
  						width: calc(50% - 20px);
  						padding-bottom: 40%;
  					}
  					@media(max-width: 767px){ 
  						width: calc(33% - 20px);
  						padding-bottom: 27.3%;
  					}
  					color: #fff;
  					text-align: center;
  					position: relative;
  					line-height: 100%;
  					a{
  						position: absolute;
  						left:0;
  						padding-top:35%;
  						width: 100%;
  						height: 100%;
  						font-size: 1.2em;
  						font-weight: 500;
  						color: #fff;
  						vertical-align: middle;
  						@media(max-width: 992px){

  						}

  					}
				}
			}
		}
	}
}

.related-photos {
	
	h3 {
		font-size: 4em;
		font-weight: 1;
		color: #5a3024;
		@media(max-width: 767px){   
			font-size: 3em;
		}
	}
	&__item {
		margin-bottom: 25px;
		img {
			display: block;
			margin-bottom: 25px;
			@media(max-width: 767px){  
				margin-bottom: 10px;
			}

		}
	}
}