.tab-nav {
	$block: &;
	margin-bottom: 60px;
	ul {
		position: relative;
		padding:0 30px;
		@media(max-width:1340px){ 
			padding:0 0px;
		}
		display: flex;
    	justify-content: space-around;
    	@media(max-width:991px){ 
    		flex-flow: wrap;
    		justify-content: center;
    	}
    	&:after {
    		content: "";
    		position: absolute;
    		left: 0;
    		left: 0;
    		width: 100%;
    		@media(min-width:1341px){
    			border: 1px solid #da5950;
    		}
    		bottom: 0;
    	}
		li {
			background: #fff;
			white-space:nowrap;
		   	order:1;
		    flex: 0 1 auto; /*important*/
		    overflow:hidden;
    		height:auto;
    		border: 2px solid #da5950;
    		text-align: center;
    		transition: all 0.2s linear;
    		@media(max-width:991px){  
    			width: calc(25% - 8px);
    			margin: 4px;
    			padding: 8px 0;
    		}
    		@media(min-width:992px){
    			margin: 0 2px;	
    		}

    		&:before {
			    content:'';
			    float:left;
			    @media(min-width:992px){
			    	padding-top:100%;
				}
			}
			&:hover, &.active {
				background: #da5950;
				a{
					color: #fff;
				}
			}
			a {
				font-size: 0.87em;
				padding: 9px;
				@media(max-width:1340px){
					font-size: 0.70em;
					padding: 5px;
				}
				@media(max-width:991px){ 
					font-size: 1.1em;
				}
				@media(max-width:767px){  
					font-size: 0.9em;
				}
				color: #da5950;
				font-weight: 500;
				height: 100%;
				display: flex;
			    flex-direction: column;
			    justify-content: center;
			}
		}
	}
	&--inner {
		ul {
			justify-content: center;
			li {
				min-width: 105px;
				@media(max-width:767px){  
					min-width: 88px;
					font-size: 1em;
				}

				font-size: 18px;
			}
		}
	}
	&--inverted { 
			ul {
				&:after { 
					bottom: auto;
					top: 0;
				}
			}
	}
}