@import "bootstrap";
@import "../../bower_components/font-awesome/css/font-awesome.css";
// @import "../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css";
@import "../../node_modules/animate.css/animate.min.css";
@import "../../node_modules/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css";
@import "reset";
@import "globals";
@import "mixins";
@import "btn";
@import "fonts";
@import "header";
@import "page";
@import "archive";
@import "tab-nav";
@import "footer";
@import "nav";
@import "home";
@import "modal";
@import "modal";
@import "map";
@import "gallery";
@import "inner";

html,body{
	height: 100%;
}

body {
	font-family: 'MuseoSansCyrl';
	font-weight: 300;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
	color: #5a5a5a;
	&.menu_open {
		overflow: hidden;
	}
	
}
a, p {
	font-weight: 300;
	line-height: 1.5;
	color: #5a5a5a;
}
p {
	text-align: justify;
}
i {
	font-weight: 300;
}
a{
	color: #202020;
}
strong {
	font-weight: 500;
}
a, a:hover, a:active, a:focus {
	text-decoration: none;
	
	outline: none;
}

h1 {
	font-weight: 900;
	font-size: 4em;
	line-height: 1.5;
	padding-top:20px;
	@media(max-width: 767px){
		font-size: 3em;
	}
}
h2 {
	font-weight: 700;
}
.page {
	// padding-top: 10+$header-height;
	margin-bottom: 80px;
}
.script {
	font-family: 'Haiku';
	font-weight: 800;
	color: #5a3024;
}
h3 {
	font-weight: 500;
}

.text-right {
	text-align: right;
}

.img-border {
	padding: 7px;
	display: block;
	border: 1px solid #90443c;
}
.img-squares {
	position: relative;
	padding: 45px;
	@media(max-width: 1340px){
		padding: 30px;
	}
	img {

	}
	&:after, &:before {
		position: absolute;
		content: "";
		z-index: -1;
	}
	&:after {
		bottom:30px;
		right:15px;
		width: 60px;
		height: 60px;
		background: #90443c;
		@media(max-width: 1340px){
			bottom:15px;
			right:10px;
			width: 50px;
			height: 50px;
		}
	}
	&:before {
		top: 0px;
		left:0px;
		width: 100px;
		height: 100px;
		background: #cd9e9a;
		@media(max-width: 1340px){
			top: 0px;
			left:0px;
			width: 80px;
			height: 80px;
		}
	}
}
.os-animation{
    opacity: 0;
}  
.os-animation.animated{
    opacity: 1;
}   
.overflow {
	position: relative;
	overflow: hidden;
}
.load-more {
	display: inline-block;
	margin-top: 25px;
	color: #cd9e9a;
	padding: 10px 25px;
	border: 1px solid #cd9e9a;
	text-align: center;
	transition: all 0.2s linear;
	&:hover {
		background: #cd9e9a;
		color: #f0cfcc;
	}
}
.mCSB_inside>.mCSB_container {
	@media(min-width: 767px){
		margin-right: auto;
		margin-left: 30px;
	}
}
.mCSB_scrollTools {
	left: 0;
	right: auto;
}
.mCSB_draggerRail,.mCSB_scrollTools {
	width: 5px!important;
}
.mCSB_dragger_bar {
	width: 5px!important;	
}


.single-post {
	text-align: center;
	img {
		max-width: 180px;
		float:left;
		margin: 0 30px 12px 0;
		@media(max-width:767px){
			
			margin: 20px auto;
			float: none;
		}
	}
	&__title {
		display: inline-block;
		color: #a6a4a4;
		font-weight: 500;
		font-size: 2em;
		margin-top:-7px;
	}
	&__subtitle {
		color: #a6a4a4;
		font-weight: 500;
		font-size: 0.9em;
		padding: 12px 0;
	}
	&__content {
		color: #5a5a5a;
		h3 {
			display: inline-block;
			color: #a6a4a4;
			font-weight: 500;
			font-size: 2em;
			padding: 20px 0;
		}
		p {
			margin-bottom: 20px;
		}
		strong{
			color: #202020;
		}
	}
	strong {
		font-size: 1.1em;
	}
}

blockquote {
	position: relative;
	text-align: center;
	max-width: 80%;
	margin:0 auto;
	padding: 60px;
	font-size: 2.3em;
	font-family: 'Haiku';
	font-weight: 800;
	color: #a6a4a4;
	line-height: 1.5;
	@media(max-width: 767px){
		max-width: 100%;
		width: 100%;
		font-size: 2.0em;
	}
	&:before, &:after {
		position: absolute;
	}
	&:before {
		content: url(../images/blockquote_left.png);
		left: 0;
		top: 50px;
	}
	&:after {
		content: url(../images/blockquote_right.png);
		right: 0;
		bottom: 30px;
	}
}
q {
	position: relative;
	text-align: center;
	display: block;
	max-width: 76%;
	margin:50px auto;
	padding: 20px 30px;
	line-height: 2;
	font-weight: 100;
	font-size: 1.46em;
	background: #f1efef;
	color: #5a5a5a;
	@media(max-width: 767px){
		max-width: 90%;
		width: 90%;
		font-size: 1.26em;
		line-height: 1.5;
	}
}

// #video{
//   position: relative;
//   background: transparent;
// }

.ytplayer-container{
  position: absolute;
  display: none;
  top: 0;
  // z-index: -1;
}


.menu_open {
	.nav__toggle.menu {
		display: none;
	}
	
}
.fb-page{
	padding: 25px 0!important;
}

.page__sidebar.no-top {
	margin-top:0;
}
.center-align {
	width: 100%;
	text-align: center;
}
.back-button {
	display: inline-block;
	position: relative;
	text-align: center;
	margin: 25px 0 40px;
	border: 1px solid #cd9e9a;
	color: #cd9e9a;
	padding: 11px 20px 9px 35px;
	font-weight: 500;
	transition: all 0.2s linear;
	&:before {
	    content: "\f104 \f104";
	    position: absolute;
	    left:12px;
	    margin-top:-1px;
	    font: normal normal normal 14px/1 FontAwesome;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    font-size: 1.5em!important;
	    font-weight:100!important;
	}
	&:hover {
		color: #fff;
		background: #cd9e9a;
	}
}
.spacing-top {
	padding-top: 120px;
}