@@include('header_home.html')
    <article class="archive page">
    
      <div class="container">
        <header class="page__header">
          <h1 class="script">Archive</h1>
        </header>
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <main class="page__main">
              <nav class="tab-nav">
                <ul>
                  <li><a href="#">2016</a></li>
                  <li class="active"><a href="#">2015</a></li>
                  <li><a href="#">2014</a></li>
                  <li><a href="#">2013</a></li>
                  <li><a href="#">2012</a></li>
                  <li><a href="#">2011</a></li>
                  <li><a href="#">2010</a></li>
                  <li><a href="#">2009</a></li>
                  <li><a href="#">2008</a></li>
                  <li><a href="#">2007</a></li>
                  <li><a href="#">2006</a></li>
                  <li><a href="#">2005</a></li>
                  <li><a href="#">2004</a></li>
                  <li><a href="#">2003</a></li>
                </ul>
              </nav>
              <section class="archive__item os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s" > 
                <div class="hidden-md-up">
                  <h3>Prima Vista 2015 "Metsik sõna"</h3>
                  <span class="archive__item__subtitle">6.-9. maini Tartus ja Põlvas</span>
                </div>
                <div class="archive__item__image">
                  <img class="img-border" src="https://unsplash.it/300/300/?image=328" alt="">
                </div>
                <div class="hidden-md-down">
                  <h3>Prima Vista 2015 "Metsik sõna"</h3>
                  <span class="archive__item__subtitle">6.-9. maini Tartus ja Põlvas</span>
                </div>
                <p>Kirjandusfestival Prima Vista toob 6.–9. maini ülikoolilinna rahvusvahelise literaatide seltskonna. </p>
                    <p>Juba kaheteistkümnendat korda toimuv festival keskendub seekord looduse ja sõnavabaduse temaatikale. Kahte fookusteemat põimib endas ka festivali tänavune hüüdlause „Metsik sõna“.</p> <p>
                    Festivali programmijuht Marja Unt loodab, et tänavune Prima Vista suudab külastajaid üllatada pööraste esinejate ning ootamatute ettevõtmistega. „Me kindlasti üritame olla hüüdlausele vääriliselt metsikud ja tuua kevadisse Tartusse teisitimõtlejaid selle sõna kõige paremas tähenduses,“ lubab Unt.</p>
                    <p>
                    Festivali patrooniks on seekord valitud Eesti kaasaegne isemõtleja, kirjanik ja semiootik Valdur Mikita, kes on eestlaste erilisuse sidunud perifeerse mõtlemise võimega: „Metsik sõna eelistab kõnnumaad ja perifeeriat, hulgub ringi metsaservas. Isegi meie rahvuseeposest tuntud hüüdlause Serviti! viitab mingisugusele tundmatule servaefektile.</p>
              </section>
              <section class="archive__item os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s" >
                <div class="archive__item__image">
                  <img class="img-border" src="https://unsplash.it/300/300/?image=300" alt="">
                </div>
                <h3>Kogu kava 2015</h3>
                  <p>Usun, et metsik sõna kaigub maikuus Emajõe Ateenas sama hästi nagu siili möire kevadises udus.“</p>
                  <p>Juba kaheteistkümnendat korda toimuv festival keskendub seekord looduse ja sõnavabaduse temaatikale. Kahte fookusteemat põimib endas ka festivali tänavune hüüdlause „Metsik sõna“.</p> <p>
                    Prima Vista programmi kuuluvad seegi kord traditsiooniline raamatulaat ning pargiraamatukogu. Lisaks paneb Elektriteater kokku temaatilise filmiprogrammi ning huvilised saavad külastada kontserte-näitusi. Festival avatakse Tartu Loodusmajas, mis võõrustab mitmeid tänavuse Prima Vista programmi üritusi.</p>
                    <p>
                    Nagu tavaks on saanud, ulatub kirjandusfestival Tartu linna piiridest kaugemale. Seekord on Prima Vista partnerlinnaks Põlva, mis võtab Tartult kirjanduslinna teatepulga üle 9. mail.</p>
              </section>
              <section class="archive__item os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s" >
                <div class="archive__item__image">
                  <img class="img-border" src="https://unsplash.it/300/300/?image=327" alt="">
                </div>
                <h3>Prima Vista 2015 "Metsik sõna"</h3>
                <span class="archive__item__subtitle">6.-9. maini Tartus ja Põlvas</span>
                <p>Kirjandusfestival Prima Vista toob 6.–9. maini ülikoolilinna rahvusvahelise literaatide seltskonna. </p>
                    <p>Juba kaheteistkümnendat korda toimuv festival keskendub seekord looduse ja sõnavabaduse temaatikale. Kahte fookusteemat põimib endas ka festivali tänavune hüüdlause „Metsik sõna“.</p> <p>
                    Festivali programmijuht Marja Unt loodab, et tänavune Prima Vista suudab külastajaid üllatada pööraste esinejate ning ootamatute ettevõtmistega. „Me kindlasti üritame olla hüüdlausele vääriliselt metsikud ja tuua kevadisse Tartusse teisitimõtlejaid selle sõna kõige paremas tähenduses,“ lubab Unt.</p>
                    <p>
                    Festivali patrooniks on seekord valitud Eesti kaasaegne isemõtleja, kirjanik ja semiootik Valdur Mikita, kes on eestlaste erilisuse sidunud perifeerse mõtlemise võimega: „Metsik sõna eelistab kõnnumaad ja perifeeriat, hulgub ringi metsaservas. Isegi meie rahvuseeposest tuntud hüüdlause Serviti! viitab mingisugusele tundmatule servaefektile.</p>
              </section>
              
              <section class="related-photos">
                <h3 class="script os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">>Valik pilte galeriist:</h3>
                <div class="row">
                  <div class="related-photos__item col-md-3 col-6 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                    <img class="img-border" src="https://unsplash.it/160/160/?image=737" alt="">
                    <p class="desc">Julgi Stalte läti luule õhtul Genialistide Klubis, Prima Vista 2010</p>
                  </div>
                  <div class="related-photos__item col-md-3 col-6 os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".2s">
                    <img class="img-border" src="https://unsplash.it/160/160/?image=726" alt="">
                    <p class="desc">Olavi Ruitlane</p>
                  </div>
                  <div class="related-photos__item col-md-3 col-6 os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".4s">
                    <img class="img-border" src="https://unsplash.it/160/160/?image=797" alt="">
                    <p class="desc">Patroon 2010 - Hannes Varblane</p>
                  </div>
                </div>
              </section>
            </main>
          </div>
          
          <!-- Sidebar START -->
          <div class="col-md-4 col-sm-12">
            <aside class="page__sidebar">

              <div class="page__sidebar__news">
                <h4 class="script">Latest News</h4>
                <div class="page__sidebar__item">
                  <span class="date">05 Jan 2017</span>
                  <span class="title">Retro programm opedned last week</span>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi <a href="#">loe edasi</a></p> 
                </div>
                <div class="page__sidebar__item">
                  <span class="date">05 Jan 2017</span>
                  <span class="title">Retro programm opedned last week</span>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi <a href="#">loe edasi</a></p> 
                </div>
                <div class="page__sidebar__item">
                  <span class="date">05 Jan 2017</span>
                  <span class="title">Retro programm opedned last week</span>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi <a href="#">loe edasi</a></p> 
                </div>
              </div>

              <div class="page__sidebar__programm">
                <h4 class="script">Programm <span class="hidden-md-down">2017</span></h4>
                <div class="page__sidebar__item page__sidebar__item--programm">
                  <a href="#">
                    <div class="item-image">
                      <img src="https://unsplash.it/125/125/?image=123" alt="">
                      <span class="programm-date">08 Mai 2017</span>
                    </div>
                    <span class="title">Tartus ja Põlvas</span>
                  </a>
                  <p class="hidden-md-down">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. <a href="#">loe edasi</a></p> 
                </div>
                <div class="page__sidebar__item page__sidebar__item--programm">
                  <a href="#">
                    <div class="item-image">
                      <img src="https://unsplash.it/125/125/?image=124" alt="">
                      <span class="programm-date">08 Mai 2017</span>
                    </div>
                    <span class="title">Poetry Cafes program</span>
                  </a>
                  <p class="hidden-md-down">Srem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi <a href="#">loe edasi</a></p> 
                </div>
                <div class="page__sidebar__item page__sidebar__item--programm">
                  <a href="#">
                    <div class="item-image">
                      <img src="https://unsplash.it/125/125/?image=125" alt="">
                      <span class="programm-date">08 Mai 2017</span>
                    </div>
                    <span class="title">Tartus ja Põlvas</span>
                  </a>
                  <p class="hidden-md-down">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. <a href="#">loe edasi</a></p> 
                </div>                            
              </div>

            </aside>
          </div>
          <!-- Sidebar END -->
        </div>
        <div class="row">
        </div>
      </div> <!--container END -->
    </article>

    @@include('footer.html')