    <footer class="main-footer">
      <div class="container">
        <div class="row main-footer__top">
          <div class="col-md-6">
            <div class="main-footer__col">
              <img src="assets/images/logo_footer.svg" alt="">
              <span class="copyright">©2017 Prima Vista kirjandusfestival</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="main-footer__col">
              <h4>Kiirmenüü</h4>
              <ul class="footer-menu">
                <li><a href="#">Esinejad 2017</a></li>
                <li><a href="#">Videogalerii</a></li>
                <li><a href="#">Kirjanduslinn</a></li>
                <li><a href="#">Head Read</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="main-footer__col">
              <h4>Kontakteeruge!</h4>
              <p>Üldinfoks kasutage järgmisi kontakte</p>
              <ul>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>Vanemuise 19, Tartu 51008</li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>(+372) 742 7079; (+372) 56906836 </li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>facebook messenger</a></li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>

      <div class="main-footer__bottom">
        <div class="container">
          Loonud CrewNew disainerid & programmeerijad
        </div>
      </div>
    </footer>