<header class="main-header ">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="main-header__logo">
          <a href="/home.html"><img src="assets/images/logo.svg" alt=""></a>
        </div>
      </div>
      <div class="col-6 text-right">
        <ul class="main-header__lang">
          <li><a href="#">Py</a></li>
          <li><a href="#">En</a></li>
        </ul>
        <button class="btn nav__toggle menu"><span></span></button>
      </div>
    </div>
  </div>
  <div class="menu-container">
    <nav class="main-menu">
      <button class="btn nav__toggle active"><span></span></button>
      <ul>
        <li><a href="#" data-color="#de4a3e">Festivalist</a></li>
        <li><a href="#" data-color="#c77857">Programm</a></li>
        <li><a href="#" data-color="#b0372e">Arhiiv</a></li>
        <li><a href="#" data-color="#f48937">Galerii</a></li>
        <li><a href="#" data-color="#ba7063">Toetajad</a></li>
        <li><a href="#" data-color="#d6493f">Kontakt</a></li>
      </ul>
    </nav>
    <div class="menu-backgrounds-container">
      <div class="header-home__content">
        <h1>Tartu rahvusvaheline <br>kirjandusfestival</h1>
        <h2 class="script">Seitsme maa ja mere taga</h2>
        <h3><img src="assets/images/calendar.png" alt="">8-13. mai 2017</h3>
      </div>
      <div class="menu-backgrounds-container__item" style="background-image: url('https://unsplash.it/1920/1020/?image=328')"></div>
      <div class="menu-backgrounds-container__item" style="background-image: url('https://unsplash.it/1920/1020/?image=327')"></div>
      <div class="menu-backgrounds-container__item" style="background-image: url('https://unsplash.it/1920/1020/?image=396')"></div>
      <div class="menu-backgrounds-container__item" style="background-image: url('https://unsplash.it/1920/1020/?image=325')"></div>
      <div class="menu-backgrounds-container__item" style="background-image: url('https://unsplash.it/1920/1020/?image=324')"></div>
      <div class="menu-backgrounds-container__item" style="background-image: url('https://unsplash.it/1920/1020/?image=322')"></div>
    </div>

  </div>
</header>