<header class="main-header main-header--home ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="main-header__logo">
          <a href="/"><img src="assets/images/logo_white.svg" alt=""></a>
        </div>
      </div>
      <div class="col-6 text-right">
        <ul class="main-header__lang">
          <li><a href="#">Py</a></li>
          <li><a href="#">En</a></li>
        </ul>
        <button class="btn nav__toggle menu"><span></span></button>
      </div>
    </div>
  </div>
  <div class="menu-container">
    <nav class="main-menu">
      <button class="btn nav__toggle active"><span></span></button>
      <ul>
        <li><a href="home.html" data-color="#ba7063">Avaleht</a></li>
        <li><a href="programm.html" data-color="#de4a3e">Programm</a></li>
        <li><a href="festivalist.html" data-color="#c77857">Festivalist</a></li>
        <li><a href="gallery.html" class="active" data-color="#b0372e">Galerii</a></li>
        <li><a href="archive.html" data-color="#f48937">Arhiiv</a></li>
        <li><a href="toetajad.html" data-color="#ba7063">Toetajad</a></li>
        <li><a href="kontakt.html" data-color="#d6493f">Kontakt</a></li>
      </ul>
    </nav>
    <div class="menu-backgrounds-container">
      <div class="menu-backgrounds-container__item" style="background-image: url('assets/images/video_bg_new.jpg')">
        <div class="container-fluid">
          <a href="#"><img src="assets/images/logo_white.svg" class="logo" alt=""></a>
        </div>
        <div class="header-home__content">
          <h1>Tartu rahvusvahelines <br>kirjandusfestival</h1>
          <h2 class="script">Seitsme maa ja mere taga</h2>
          <h3><img src="assets/images/calendar.png" alt="">8-13. mai 2017</h3>
        </div>
      </div>
      <div class="menu-backgrounds-container__item" style="background-image: url('assets/images/bg1.jpg')">
        <div class="container-fluid">
          <a href="#"><img src="assets/images/logo_white.svg" class="logo" alt=""></a>
        </div>
        <div class="header-home__content">
          <h1>Festivali programm 2017</h1>
          <h2 class="script">Seitsme maa ja mere taga</h2>
          <h3><img src="assets/images/calendar.png" alt="">8-13. mai 2017</h3>
        </div>
      </div>
      <div class="menu-backgrounds-container__item" style="background-image: url('assets/images/bg2.jpg')">
        <div class="container-fluid">
          <a href="#"><img src="assets/images/logo_white.svg" class="logo" alt=""></a>
        </div>
        <div class="header-home__content">
          <h1>Prima Vista festivalist</h1>
          <h2 class="script">Suurim kirjandusfestival Eestis</h2>
          <h3><img src="assets/images/calendar.png" alt="">1997 - 2017</h3>
        </div>
      </div>
      <div class="menu-backgrounds-container__item" style="background-image: url('assets/images/bg3.jpg')">
        <div class="container-fluid">
          <a href="#"><img src="assets/images/logo_white.svg" class="logo" alt=""></a>
        </div>
        <div class="header-home__content">
          <h1>Prima Vista pildigalerii</h1>
          <h2 class="script">Pilte maalt ja merelt</h2>
          <h3> </h3>
        </div>
      </div>
      <div class="menu-backgrounds-container__item" style="background-image: url('assets/images/bg4.jpg')">
        <div class="container-fluid">
          <a href="#"><img src="assets/images/logo_white.svg" class="logo" alt=""></a>
        </div>
        <div class="header-home__content">
          <h1>Möödunud festivalide arhiiv</h1>
          <h2 class="script">20 aastat Prima Vistat</h2>
          <h3><img src="assets/images/calendar.png" alt="">1997 - 2017</h3>
        </div>
      </div>
      <div class="menu-backgrounds-container__item" style="background-image: url('assets/images/bg5.jpg')">
        <div class="container-fluid">
          <a href="#"><img src="assets/images/logo_white.svg" class="logo" alt=""></a>
        </div>
        <div class="header-home__content">
          <h1>Meie toetajad ja partnerid</h1>
          <h2 class="script">Sponsorid ja abilised</h2>
          <h3> </h3>
        </div>
      </div>
      <div class="menu-backgrounds-container__item" style="background-image: url('assets/images/bg6.jpg')">
        <div class="container-fluid">
          <a href="#"><img src="assets/images/logo_white.svg" class="logo" alt=""></a>
        </div>
        <div class="header-home__content">
          <h1>Kontakt ja korraldajad</h1>
          <h2 class="script">Meie tiimi kontaktid</h2>
          <h3> </h3>
        </div>
      </div>
    </div>

  </div>
</header>