<aside class="page__sidebar">

  <div class="page__sidebar__news">
    <h4 class="script">Latest News</h4>
    <div class="page__sidebar__item">
      <span class="date">05 Jan 2017</span>
      <span class="title">Retro programm opedned last week</span>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi <a href="#">loe edasi</a></p> 
    </div>
    <div class="page__sidebar__item">
      <span class="date">05 Jan 2017</span>
      <span class="title">Retro programm opedned last week</span>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi <a href="#">loe edasi</a></p> 
    </div>
    <div class="page__sidebar__item">
      <span class="date">05 Jan 2017</span>
      <span class="title">Retro programm opedned last week</span>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi <a href="#">loe edasi</a></p> 
    </div>
  </div>

  <div class="page__sidebar__programm">
    <h4 class="script">Programm <span class="hidden-md-down">2017</span></h4>
    <div class="page__sidebar__item page__sidebar__item--programm">
      <a href="#">
        <div class="item-image">
          <img src="https://unsplash.it/125/125/?image=123" alt="">
          <span class="programm-date">08 Mai 2017</span>
        </div>
        <span class="title">Tartus ja Põlvas</span>
      </a>
      <p class="hidden-md-down">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. <a href="#">loe edasi</a></p> 
    </div>
    <div class="page__sidebar__item page__sidebar__item--programm">
      <a href="#">
        <div class="item-image">
          <img src="https://unsplash.it/125/125/?image=124" alt="">
          <span class="programm-date">08 Mai 2017</span>
        </div>
        <span class="title">Poetry Cafes program</span>
      </a>
      <p class="hidden-md-down">Srem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi <a href="#">loe edasi</a></p> 
    </div>
    <div class="page__sidebar__item page__sidebar__item--programm">
      <a href="#">
        <div class="item-image">
          <img src="https://unsplash.it/125/125/?image=125" alt="">
          <span class="programm-date">08 Mai 2017</span>
        </div>
        <span class="title">Tartus ja Põlvas</span>
      </a>
      <p class="hidden-md-down">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. <a href="#">loe edasi</a></p> 
    </div>                            
  </div>
  <div class="page__sidebar__archive">
    <h4 class="script">Arhiiv</h4>
    <ul>
      <li><a href="#">2015</a></li>
      <li><a href="#">2014</a></li>
      <li><a href="#">2013</a></li>
      <li><a href="#">2012</a></li>
      <li><a href="#">2011</a></li>
      <li><a href="#">2010</a></li>
      <li><a href="#">2009</a></li>
      <li><a href="#">2008</a></li>
      <li><a href="#">2007</a></li>
      <li><a href="#">2006</a></li>
      <li><a href="#">2005</a></li>
      <li><a href="#">2004</a></li>
    </ul>
  </div>

</aside>